.table-row {
  margin: 0;
  background-color: var(--white-color);
}

.table-row:hover {
  background-color: var(--slate-color);
}

.table-row__cell {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
}

.table-row__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--trash-color);
  border-radius: 8px;
  cursor: pointer;
}

.table-row__button:hover {
  background-color: var(--trash-hover-color);
}

.table-row__content {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.table-row__content-img {
  width: 16px;
  height: 16px;
}

.table-row__desc {
  color: var(--description-color);
}
