.table-wrapper {
  margin: 0;
  padding: 0;
}

.table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.table__body-wrapper {
  max-height: 864px;
  overflow: hidden;
  overflow-y: auto;
}

.table__body-wrapper::-webkit-scrollbar {
  width: 4px;
}

.table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--description-color);
  border-radius: 4px;
}

.table__body-wrapper::-webkit-scrollbar-track {
  border-radius: 4px;
}

.table__body td {
  border-bottom: 1px solid var(--row-border-color);
  height: 31px;
}

.table__body tr:last-child {
  border-bottom: none;
}

.table__footer {
  display: table-footer-group;
}

.table__footer td {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
